* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 4; /* 60% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 2rem; */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  /* padding-left: 0rem; */
}

header .logo img {
  width: 50px;
  height: auto;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

header nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #838383;
  font-weight: 600;
}

.content {
  flex-grow: 1;
  padding-left: 6rem;
  padding-top: 2rem;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 0.7rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: #838383;
}

.students-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.count {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

.students {
  display: flex;
  align-items: center;
}

.students img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -30px;
}

.students img:first-child {
  margin-left: 0;
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cta-buttons button {
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.cta-buttons .book-button {
  padding: 0.8rem 2rem;
  background-color: #2f584e;
  color: white;
  border-radius: 60px;
  font-size: small;
}

.book-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.cta-buttons .play-button {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: radial-gradient(circle, #ff9257, #ff9257);
  border: none;
  border-radius: 50%;
  position: relative;
}

.play-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  margin-top: 0.6rem;
}

.cta-buttons span {
  font-size: 0.9rem;
  color: #333;
  margin-left: -0.5rem;
  font-weight: bold;
}

.footer {
  background: #ff9257;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10%;
  text-align: center;
  color: white;
}

.footer-item {
  position: relative;
  flex: 1;
  text-align: left;
  padding: 0 10px;
}

.footer-item::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #f7be2c;
}

.footer-item h1 {
  margin: 0;
  font-size: 2rem;
}

.footer-item p {
  margin: 5px 0 0;
  font-size: 1rem;
}

.right-section {
  flex: 2; /* 40% */
  background-image: url("/assets/images/backgroundImage.png");
  background-color: #f1f6fe;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right-section img {
  height: 145px;
  margin: 1.5rem;
  object-fit: cover;
}
